.gg-chevron-up {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-up::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    bottom: 2px
}
.gg-chevron-down {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}
.gg-chevron-down::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    left: 4px;
    top: 2px
}

:root{
    --history-icon: url('data:image/svg+xml,<svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.074 0.62063C24.814 0.0886304 25.854 -0.15937 26.876 0.21463C29.0488 1.01059 31.0668 2.17795 32.84 3.66463C33.674 4.36463 33.98 5.38663 33.888 6.29063C33.738 7.79663 34.002 9.25063 34.728 10.5026C35.368 11.6166 36.332 12.4966 37.508 13.1166L37.958 13.3366C38.786 13.7106 39.522 14.4886 39.708 15.5626C40.103 17.839 40.103 20.1663 39.708 22.4426C39.542 23.4106 38.928 24.1366 38.202 24.5446L37.958 24.6706C36.578 25.2906 35.45 26.2506 34.726 27.5026C34.002 28.7566 33.738 30.2086 33.888 31.7146C33.978 32.6186 33.674 33.6426 32.84 34.3406C31.0668 35.8273 29.0488 36.9947 26.876 37.7906C26.4116 37.9567 25.9136 38.0066 25.4255 37.9358C24.9374 37.865 24.4741 37.6758 24.076 37.3846C22.844 36.5026 21.45 36.0026 20.004 36.0026C18.558 36.0026 17.164 36.5006 15.934 37.3846C15.5357 37.6761 15.072 37.8656 14.5835 37.9363C14.0951 38.0071 13.5967 37.9571 13.132 37.7906C10.9592 36.9947 8.9412 35.8274 7.16801 34.3406C6.79245 34.0215 6.50062 33.6155 6.31796 33.1578C6.13529 32.7 6.06734 32.2046 6.12001 31.7146C6.27001 30.2086 6.00401 28.7546 5.28001 27.5026C4.6206 26.3848 3.65627 25.4781 2.50001 24.8886L2.05001 24.6686C1.5987 24.4687 1.20323 24.1613 0.898165 23.7733C0.593101 23.3852 0.387731 22.9284 0.300008 22.4426C-0.09512 20.1663 -0.09512 17.8389 0.300008 15.5626C0.466008 14.5946 1.08001 13.8686 1.80601 13.4606L2.05001 13.3366C3.43001 12.7146 4.55801 11.7566 5.28201 10.5026C6.00401 9.25063 6.27001 7.79663 6.12001 6.29063C6.06734 5.80064 6.13529 5.30521 6.31796 4.84751C6.50062 4.3898 6.79245 3.98371 7.16801 3.66463C8.94123 2.17795 10.9592 1.01059 13.132 0.21463C13.5964 0.048697 14.0944 -0.00105558 14.5825 0.0697138C15.0705 0.140483 15.5338 0.329624 15.932 0.62063C17.162 1.50463 18.556 2.00263 20.004 2.00263C21.452 2.00263 22.844 1.50463 24.074 0.62063ZM25.988 4.15863C24.256 5.29863 22.214 6.00263 20.004 6.00263C17.794 6.00263 15.752 5.29663 14.02 4.15863C12.6277 4.72063 11.3215 5.47606 10.14 6.40263C10.26 8.46863 9.85001 10.5886 8.74601 12.5026C7.64001 14.4146 6.01001 15.8286 4.16001 16.7586C3.95158 18.246 3.95158 19.7552 4.16001 21.2426C6.01001 22.1726 7.64001 23.5866 8.74601 25.5026C9.85001 27.4126 10.26 29.5326 10.14 31.5986C11.3214 32.5259 12.6276 33.282 14.02 33.8446C15.752 32.7046 17.794 32.0006 20.004 32.0006C22.214 32.0006 24.256 32.7066 25.988 33.8446C27.3803 33.2826 28.6865 32.5271 29.868 31.6006C29.748 29.5326 30.158 27.4126 31.262 25.5006C32.366 23.5866 33.998 22.1726 35.848 21.2406C36.0564 19.7546 36.0564 18.2467 35.848 16.7606C33.998 15.8286 32.368 14.4146 31.262 12.5006C30.158 10.5886 29.748 8.46863 29.868 6.40063C28.6865 5.47406 27.3803 4.72063 25.988 4.15863ZM20.004 11.0026C22.1257 11.0026 24.1606 11.8455 25.6609 13.3458C27.1612 14.8461 28.004 16.8809 28.004 19.0026C28.004 21.1244 27.1612 23.1592 25.6609 24.6595C24.1606 26.1598 22.1257 27.0026 20.004 27.0026C17.8823 27.0026 15.8474 26.1598 14.3472 24.6595C12.8469 23.1592 12.004 21.1244 12.004 19.0026C12.004 16.8809 12.8469 14.8461 14.3472 13.3458C15.8474 11.8455 17.8823 11.0026 20.004 11.0026ZM20.004 15.0026C18.9431 15.0026 17.9257 15.4241 17.1756 16.1742C16.4254 16.9243 16.004 17.9418 16.004 19.0026C16.004 20.0635 16.4254 21.0809 17.1756 21.8311C17.9257 22.5812 18.9431 23.0026 20.004 23.0026C21.0649 23.0026 22.0823 22.5812 22.8324 21.8311C23.5826 21.0809 24.004 20.0635 24.004 19.0026C24.004 17.9418 23.5826 16.9243 22.8324 16.1742C22.0823 15.4241 21.0649 15.0026 20.004 15.0026Z" fill="#FF889E"/></svg>');
}